.footer {
    padding: var(--spacing-lg);
    text-align: center;
    background-color: var(--color-bg);
    border-top: 1px solid var(--color-text-muted);
    color: var(--color-text-muted);
    font-family: var(--font-header);
    font-size: 0.7rem;
}